###### Задача 1
Cохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name – какое-нибудь имя в виде строки.

In [1]:
age = 19
name = 'Dima'

In [2]:
print(age, name)

19 Dima

###### Задача2
Создайте список user_info, содержащий 4 элемента в следующем порядке:

- 2 строки (имя и фамилия пользователя)
- 1 дробное число (зарплата)
- 1 целое число (стаж)

In [3]:
user_info = ['Dima', 'Klim', 80000.5, 2]

In [4]:
user_info

['Dima', 'Klim', 80000.5, 2]

In [5]:
type(user_info)

list

###### Задача 3
Поместите в переменную first первый (т.е. нулевой) элемент из списка salaries.

In [6]:
salaries = [42, 100, 70, 80]

In [7]:
first = salaries[0]

In [8]:
first

42

###### Задача 4
Добавьте в уже созданный список users элементы 'Voronov' и 42.

In [9]:
users = []

In [10]:
users.append('Voronov')

In [11]:
users.append(42)

In [12]:
users

['Voronov', 42]

In [13]:
len(users)

2

###### Задача 5
В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

In [14]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [15]:
for age in user_ages:
    if age > 18:
        print(age)

21
35
42
27

###### Задача 6
Напишите программу, проверяющую стаж работы сотрудника. Поместите в переменную status следующую строку:

user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений:

- 'junior' — стаж меньше 2 лет
- 'middle' — стаж больше либо равен 2 лет и меньше или равен 5
- 'senior' — стаж больше 5 лет

In [16]:
worker = ['Olya', 'Silyutina', 350000, 3]

In [17]:
user_name, user_family = worker[:2]
if worker[3] < 2:
    position = 'junior'
elif 2 <= worker[3] <= 5:
    position = 'middle'
else:
    position = 'senior'
status = f'{user_name} {user_family} is {position}'

In [18]:
status

'Olya Silyutina is middle'

###### Задача 7
В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

In [19]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [20]:
tens = []

In [21]:
for value in values:
    if value % 10 == 0:
        tens.append(value)

In [22]:
tens

[10, 100, 20, 50, 160, 210]

###### Задача 8
Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как в 2-м и 6-м заданиях и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):

user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк:

- 'junior' — стаж меньше 2 лет
- 'middle' — стаж больше либо равен 2 и меньше или равен 5
- 'senior' — стаж строго больше 5 лет

In [23]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [24]:
for worker in workers:
    user_name, user_family = worker[:2]
    if worker[3] < 2:
        position = 'junior'
    elif 2 <= worker[3] <= 5:
        position = 'middle'
    else:
        position = 'senior'
    print(f'{user_name} {user_family} is {position}')

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle

###### Задача 9
Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

In [25]:
N = 10
n = 0
dn = 2
lst = []
while n <= N:
    lst.append(n)
    n += dn

In [26]:
lst

[0, 2, 4, 6, 8, 10]

In [27]:
n

12

###### Задача 10
На предыдущих шагах вы сталкивались с различными характеристиками пользователей, которые были сохранены в списках. Теперь попробуем собрать нужную информацию в словарь!

Начнем с небольшого, где:

- ключом будет название характеристики
- значением – её значение

В словарь поместите следующую информацию:

характеристика	значение

name	        Masha

surname	        Volkova

age	            25

salary	        60000

position	    junior

Результат сохраните в переменную salaries_dict.

In [28]:
salaries_dict = {
    'name' : 'Masha',
    'surname' : 'Volkova',
    'age' : 25,
    'salary' : 60000,
    'position' : 'junior'
}

In [29]:
salaries_dict

{'name': 'Masha',
 'surname': 'Volkova',
 'age': 25,
 'salary': 60000,
 'position': 'junior'}

In [31]:
salaries_dict['age']

25

In [32]:
salaries_dict['name']

'Masha'

###### Задача 11
Теперь усложним задачу. Создайте словарь, где:

Ключом будет логин пользователя (login)
В качестве значения – словарь с характеристиками (как на предыдущем шаге) для этого пользователя

login	name	surname	age	salary	position

mvolkova	Masha	Volkova	25	60000	junior

pvoronov	Peter	Voronov	27	100000	junior

pparker	Peter	Parker	35	150000	middle

akarpov	Anatoly	Karpov	30	250000	senior

Таким образом, по ключу мы сможем получить всю информацию о нужном пользователе. Обратиться к такому элементу можно, например, с помощью: users_dict['mvolkova']['name'], где в первых скобках указывается логин (первый ключ), а во вторых – название характеристики, значение которой мы хотим получить.

In [36]:
users_dict = {
    'mvolkova' : {
        'name' : 'Masha',
        'surname' : 'Volkova',
        'age' : 25,
        'salary' : 60000,
        'position' : 'junior'
    },
    'pvoronov' : {
        'name' : 'Peter',
        'surname' : 'Voronov',
        'age' : 27,
        'salary' : 100000,
        'position' : 'junior'
    },
    'pparker' : {
        'name' : 'Peter',
        'surname' : 'Parker',
        'age' : 35,
        'salary' : 150000,
        'position' : 'middle'
    },
    'akarpov' : {
        'name' : 'Anatoly',
        'surname' : 'Karpov',
        'age' : 30,
        'salary' :2560000,
        'position' : 'senior'
    }
}

In [37]:
users_dict['pparker']

{'name': 'Peter',
 'surname': 'Parker',
 'age': 35,
 'salary': 150000,
 'position': 'middle'}